@import './config.scss';

#LoadingPage {
	width: 100%;
	height: 100vh;
	@include flxRowCtr();
}

#LoadingImage {
	width: 100px;
}

.rotate {
	transition: transform 2.2s linear;
	transform: rotate(360deg);

}