@import './config.scss';

* {
	text-align: left;
}

body {
	background: linear-gradient(#CCCCCC, white);
	height: 100vh;
}

#NewOffer {
	margin-top: -5%;
	height: 100vh;
	@include flxRowCtr();
}

.FormNewOffer {
	margin-top: 5%;
	width: 45%;
	height: 55vh;
}

.ToRemove {
	background-color: red;
}